#header{

  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  margin: 17px 40px 10px 160px;
  opacity:0.8; /* Opacidad 80% */
}
#selector{
	width: 80%;
	margin: 20px 0px 0px 25px;
	opacity:0.8; /* Opacidad 80% */
}
#contenedorcardComponent{
  width: 20%;
	margin: 20px 0px 0px 25px;
	opacity:0.9; /* Opacidad 80% */
	margin-block-end: 15px;
}