body {
  font-family: Arial;
}

#mapid {
  float: left;
  position: static;
  height: 600px;
  margin: 50px 30px 10px 10px;
  width: 74%;

}


#right {
  position: absolute;

  top: 5px;
  right: -10px;
  bottom: 0px;

  width: 25%;
}

#states {
  margin: 15px 15px;
}
#button{
    list-style: none;
    overflow: hidden;
}

ul {
  
}
  ul li{
    width: 18rem;
    text-decoration: none;
    display: block;
    float: left;
  }