body {
  font-family: Arial;
}

#mapid {
  float: left;
  position: static;
  height: 600px;
  margin: 100px 40px 10px 40px;
  width: 70%;

}


#right {
  position: absolute;
  opacity:0.8; /* Opacidad 60% */
  top: 30px;
  right: -30px;
  bottom: 0px;
  overflow: auto;
  width: 25%;
}

#states {
  margin: 15px 15px;
}
#button{
    list-style: none;
    overflow: hidden;
}

ul {
  
}
  ul li{
    width: 15rem;
    text-decoration: none;
    display: block;
    float: left;
  }